.full-paginator
    position: relative

    .controls
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: center
        justify-content: center

        .shift-left
            animation: shift-left linear 0.2s infinite alternate-reverse
        .shift-right
            animation: shift-right linear 0.2s infinite alternate-reverse

        @import src/styles/btn2


    .items
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        justify-content: center

        >*
            margin-top: 10px
            margin-right: 10px

    .empty
        text-align: center
        color: var(--foreground-color)
        padding: 100px 0

@keyframes shift-left
    0%
        transform: translateX(0px)
    100%
        transform: translateX(-5px)

@keyframes shift-right
    0%
        transform: translateX(0px)
    100%
        transform: translateX(5px)